{% import_yaml "maps/defaults/networks.yaml" as networks %}
{% import_yaml "maps/defaults/users.yaml" as users %}
{% import_yaml "maps/defaults/packages.yaml" as packages %}

{% do salt.log.debug("networks: " ~ networks|json) %}
{% do salt.log.debug("users: " ~ users|yaml) %}
{% do salt.log.debug("packages: " ~ packages|yaml) %}
