{% import_yaml "maps/defaults/networks.yaml" as networks %}
{% import_yaml "maps/defaults/users.yaml" as users %}
{% import_yaml "maps/defaults/packages.yaml" as packages %}

{% set packages = salt.grains.filter_by(packages['packages']) %}
{% set packages = salt.grains.filter_by(packages, grain='os',default='Default') %}
{% set packages = salt.grains.filter_by(packages, grain='osmajorversion', default='Default') %}

{% do salt.log.trace("networks: " ~ networks|json) %}
{% do salt.log.trace("users: " ~ users|yaml) %}
{% do salt.log.trace("packages: " ~ packages|yaml) %}

{% set config['networks'] = networks %}
{% set config['users'] = users %}
{% set config['packages'] = packages %}

{% do salt.log.debug('config: ' ~ config|yaml) %}
